body {
  background-image: linear-gradient;
}

.App {
  text-align: center;
}

.App-Header {
  background-color: grey;
  height: 100px;
  width: 100vw;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 20px;
  justify-content: space-evenly;
}

.logo {
  max-height: 200px;
  max-width: 200px;
  width: auto;
  height: auto;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
  align-items: flex-start;
}

.search-bar {
  appearance: none;
  background-color: white;
  border: 2px solid black;
  height: 40px;
  width: 250px;
  color: black;
}

.search-bar:focus {
  outline: none;
}

.Images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1555px;
  margin: auto;
}


.Images {
  height: 25%;
  width: 125px;
  max-width: 220px;
  max-height: 330px;
  object-fit: cover;
  height: auto;
  margin-bottom: 10px;
}

p {
  color: black;
  margin: 0 0 5px 0;
}




.Cart {
  background-color: grey;
  color: black;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  border: none;
  position: relative;
  bottom: 0;
}

.Cart:focus {
  outline: none;
}

.Shopping {
  text-align: center;
}

h1 {
  color: black;
}

hr {
  border: 1px solid black;
}

.empty-cart {
  margin-top: 80px;
}
